<div class="mx-auto md:w-1/3 w-full">
<% content_for(:page_title, "STAFF: #{@staff.full_name}")%>

  <%= render "form", staff: @staff %>

<div class="mt-2">
  <%= link_to "Show this Staff Member", @staff, class: gray_button %>
  <%= link_to "Back to All Staff", staffs_path, class:gray_button%>
</div> 
