<div class="mx-auto md:w-2/3 w-full">
<% content_for(:page_title, "STAFF: #{@staff.full_name}")%>
  <div class="mx-auto">
  
    
  <%= render @staff %>

    <%= link_to "Edit this staff", edit_staff_path(@staff), class: fill_button_class %>
    <%= link_to "All staff", staffs_path, class:gray_button %>
    <div class="inline-block ml-2">
     
  </div>

