<% content_for(:page_title, "EDIT: CALCULATION")%>

<div class="mx-auto md:w-2/3 w-full object-center">


  <%= render "form", calculation: @calculation %>

  <%= link_to "Show this calculation", @calculation, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to calculations", calculations_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
