<%= turbo_frame_tag picksheet_item do %>
  <div class="picksheet_item">
    <div class="picksheet_item__header">
         <table class="w-full table-fixed text-left text-gray-700">
         <colgroup>
            <col style="width:12rem"><!-- Product -->
            <col style="width:10rem"><!-- Size -->
            <col style="width:8rem"><!-- Pricing -->
            <col style="width:3rem"><!-- Count -->
            <col style="width:6rem"><!-- Weight -->
            <col style="width:6rem"><!-- Code -->
            <col style="width:8rem"><!-- SP Price -->
            <col style="width:8rem"><!-- BB Date -->
            <col style="width:8rem"><!-- Actions -->
         </colgroup>

         <thead class="text-sm text-gray-500">
            <tr class="bg-gray-50 border-b">
               <th class="p-2 font-semibold">Product</th>
               <th class="p-2 font-semibold">Size</th>
               <th class="p-2 font-semibold">Pricing</th>
               <th class="p-2 font-semibold text-center">Qty</th>
               <th class="p-2 font-semibold text-right italic">Weight</th>
               <th class="p-2 font-semibold text-center">Code</th>
               <th class="p-2 font-semibold">SP Price</th>
               <th class="p-2 font-semibold text-center">BB Date</th>
               <th class="p-2 font-semibold text-center">Actions</th>
            </tr>
         </thead>

         <tbody id="picksheet_items">
            <%= render @picksheet_items %>
         </tbody>
      </table>
  </div>
</div>
<% end %>
