<% content_for(:page_title, "SALE & SHIP : EDIT PICKING SHEET")%>

<div class="mx-auto md:w-2/3 w-full">
<main class="container">
  <%= link_to sanitize("&larr; Back to Pick Sheet"), picksheet_path(@picksheet) %>

  <div class="header">
    <h1>Edit Pick Sheet Line Item</h1>
  </div>

  <%= turbo_frame_tag @picksheet_item do %>
    <%= render "form_edit", picksheet: @picksheet, picksheet_item: @picksheet_item %>
  <% end %>
</main>
</div>
