<main class="container">
  <%= link_to sanitize("&larr; Back to Pick Sheet"), picksheet_path(@picksheet) %>

  <div class="header">
    <h1>New Line Item</h1>
  </div>

  <%= turbo_frame_tag @picksheet_item do %>
    <%= render "form_new", picksheet: @picksheet, picksheet_item: @picksheet_item %>
  <% end %>
</main>

