<% content_for(:page_title, "EDIT PICKING SHEET: #{@picksheet.contact.business_name}")%>
<% content_for(:page_button, "picksheets/new")%>

<div class="mx-auto md:w-1/2 w-full text-right">
<br>
  <%= render "form_edit", picksheet: @picksheet %>

  <%= link_to "Show this Picking Sheet", @picksheet, class: gray_button %>
 
</div>
