<% content_for :title, "Poacher: Piacksheet New" %>
<% content_for(:page_title, "SALE & SHIP - NEW PICK SHEET")%>

<div class="mx-auto w-1/2 text-right">
  <br>

  <%= render "form_new", picksheet: @picksheet %>

</div>
