<div class="mx-auto md:w-2/3 w-full text-right">
 <% content_for(:page_title, "ADD NEW WASTE RECORD")%>


  <%= render "form", traceability_record: @traceability_record,  waste_record: @waste_record  %>
</main>
