  <% content_for(:page_title, "SAMPLE - #{@sample.sample_no}")%>
<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
   
    <%= render @sample %>    

    <%= link_to "Edit this sample", edit_sample_path(@sample), class: fill_button_class %>
    <%= link_to "<- Back to samples", samples_path, class: gray_button %>
    <div class="inline-block ml-2">
        </div>
  </div>
</div>
