<% content_for :title, "Poacher: Delivery Inspection" %>
<% content_for :page_title, "DELIVERY INSPECTIONS - #{@delivery_inspection.item} - Delivery Date:  #{@delivery_inspection.delivery_date}" %>


<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @delivery_inspection %>

   
  </div>
</div>
