<% content_for :title, "Poacher: Butter Make Schedule" %>
<% content_for(:page_title, "Edit: BUTTER MAKE SCHEDULE")%>
<div class="mx-auto md:w-1/3 text-right w-full">
 

  <%= render "form", butter_make: @butter_make %>
</div>
