<div class="overscroll-none">
  <% content_for :title, "Poacher: Butter Make" %>
  <% content_for(:page_title, "BUTTER MAKE SCHEDULE") %>

  <div id="butter_makes">
    <!-- Grid Section at the Top -->
    <div class="grid grid-cols-4 items-center mb-4">
      <div>
        <a class="bg-transparent text-sm hover:bg-gray-600 font-semibold hover:text-white py-2 px-2 border border-gray-900 hover:border-transparent rounded-lg" href="/butter_makes/create_month">
          Add a Month
        </a>
      </div>
      <div class="col-span-2 text-left text-sm">
       
      </div>
    </div>


    <!-- Table Wrapper (No Flexbox Stretching) -->
    <div class="overflow-auto w-full">
      <table class="mx-auto table-fixed w-full lg:w-2/3 border text-sm text-center text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200">
          <tr class="bg-gray-200 sticky top-0 text-right">
            <th scope="col" class="px-4 py-2">Day</th>
            <th scope="col" class="px-4 py-2 pr-4 whitespace-nowrap ">Date</th>
            <th scope="col" class="px-4 py-2">Cream</th>
            <th scope="col" class="px-4 py-2">Make</th>
            <th scope="col" class="px-4 py-2">Stock<br>Confirmed</th>
            <th scope="col" class="px-4 py-2">Stock<br>Projected</th>
          </tr>
        </thead>
        <tbody>
         
            <%= render @butter_makes %>
         
        </tbody>
      </table>
    </div>
  </div>
</div>