<% content_for(:page_title, "EDIT MARKET SALE")%>
<div class="mx-auto md:w-1/3 w-full text-right">

  <%= render "form", market_sale: @market_sale %>

  <%= link_to "Show this market sale", @market_sale, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to all sales", market_sales_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>



