<% content_for(:page_button, new_validation_range_path) %>
<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
   
    <%= render @validation_range %>

    <%= link_to "Edit this validation range", edit_validation_range_path(@validation_range), class: fill_button_class %>
    <%= link_to "Back to validation ranges", validation_ranges_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    
    <div class="text-center my-4">
    <%= link_to "Add New", new_validation_range_path, class: fill_button_class %>
 </div>
  </div>
</div>
