<%# Required locals: form:, makesheets:, field: %>
<%
  makesheet_map = makesheets.index_by(&:make_date).transform_keys(&:to_s).to_json
  field_name = local_assigns[:field] || :makesheet_id
%>

<div
  data-controller="makesheet-picker"
  data-makesheet-picker-makesheets-value='<%= makesheet_map %>'
>
  <!-- Flowbite date input -->
  <input
    datepicker
    datepicker-format="yyyy-mm-dd"
    type="text"
    placeholder="Select make date"
    class="<%= field_class_flex %>"
    data-makesheet-picker-target="input"
  />

  <!-- Hidden field to store selected makesheet_id -->
  <%= form.hidden_field field_name, data: { makesheet_picker_target: "output" } %>
</div>
