<div class="mx-auto md:w-2/3 w-full">
<% content_for(:page_title, "EDIT BUTTER STOCK POSITION")%>

  <%= render "form", butter_stock: @butter_stock %>

  <%= link_to "Show this butter stock", @butter_stock, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to butter stocks", butter_stocks_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
