<div id="<%= dom_id turn %>">
  <div class="my-4">
     <div class=label_class><strong>Turn date:</strong></div>
    <%= turn.turn_date.to_formatted_s(:uk) %>
  </div>

  <div class="my-4">
    <div class=label_class><strong>Makesheet:</strong></div>
    <%= turn.makesheet_id %>
  </div>

  <div class="my-4">
     <div class=label_class><strong>Turned by:</strong></div>
    <%= turn.turned_by %>
  </div>

</div>
