<div id="<%= dom_id turn %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Turn date:</strong>
    <%= turn.turn_date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Makesheet:</strong>
    <%= turn.makesheet_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Turned by:</strong>
    <%= turn.turned_by %>
  </p>

</div>
