<% content_for(:page_title, "STORE : EDIT TURN RECORD for #{@turn.turn_date.to_formatted_s(:uk_day)}")%>
 <div class="mx-auto w-1/3 text-center">

  <%= render "form", turn: @turn %>
  

  <%= link_to "Show this turn", @turn, class: gray_button %>
  </div>
