<% content_for(:page_title, "STORE : TURNS")%>
<div class="mx-auto md:w-2/3 w-full flex justify-center">

<div id="turns">
  <div class="m-4">
    <%= link_to "New turn", new_turn_path, class: clear_button_class %>
  </div>

<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-200 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Turn Date
                </th>
                <th scope="col" class="px-6 py-3">
                    Turned By
                </th>
                <th scope="col" class="px-6 py-3">
                    Batch
                </th>
               
            </tr>
        </thead>
        <tbody>
         <% @turns.each do |turn| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <td class="px-6 py-4 whitespace-nowrap underline underline-offset-2">
                   <%= link_to turn.turn_date.to_date, turn %>
                </td>
                <td class="px-6 py-4">
                  <%= turn.turned_by %>
                </td>
                <td class="px-6 py-4 underline underline-offset-2">
                  <%=  link_to turn.makesheet.batch_and_grade, batch_turns_makesheet_path(turn.makesheet) %>
                </td>
                
            </tr>
           
              <% end %>
        </tbody>
    </table>
</div>
</div>





