<!-- app/views/cheese_wash_records/edit.html.erb -->
<% content_for(:page_title, "EDIT CHEESE WASH RECORD") %>
<% content_for(:page_button, "cheese_wash_records") %>

<div class="w-full lg:w-2/3 mx-auto px-4">
  <%= render "form", cheese_wash_record: @cheese_wash_record, makesheets: @makesheets %>
</div>

