<% content_for(:page_title, "ADMIN")%>

<div class="my-4 text-green-800 mt-8 w-full">

<div class="mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 place-content-center">
  <div class="">
    <div class="text-center text-lg">
       Add/Edit<br>Staff<br>
        <div class="m-4">
         <%= link_to "Staff Data", staffs_path, class: clear_button_class %>
        </div>
       </div>
  </div>
  
  <div class="">
      <div class="text-center text-lg">
        Add/Edit<br>Contacts<br>
          <div class="m-4">
          <%= link_to "Contacts Data", contacts_path, class: clear_button_class %>
          </div>
        </div>
    </div>


  <div class="basis-1/4">
    <div class="text-center text-lg">
       Add/Edit<br>References<br>
        <div class="m-4">
         <%= link_to "Reference Data", references_path, class: clear_button_class %>
        </div>
       </div>
  </div>  

  <div class="basis-1/4">
    <div class="text-center text-lg">
       Add/Edit<br>Calculations<br>
        <div class="m-4">
         <%= link_to "Calculation Data", calculations_path, class: clear_button_class %>
        </div>
       </div>
  </div>
  
  </div>


