<% content_for(:page_title, "CREDITS PAGE")%>

<div class="mx-auto w-1/3 text-center">

<div class="text-left m-4">
<span class="font-bold">WEATHER REPORTS</span> <br>
Powered by <a href="https://www.weatherapi.com/" title="Free Weather API">WeatherAPI.com</a>  
<a href="https://www.weatherapi.com/" title="Free Weather API"><img src='//cdn.weatherapi.com/v4/images/weatherapi_logo.png' alt="Weather data by WeatherAPI.com" border="0"></a>
</div>

<hr>

<div class="text-left m-4">
  <span class="font-bold">ICONS</span> <br>
  <a href="https://www.fontawesome.com/" title="Font Awesome">Font Awesome by Dave Gandy</a>  <br>
  <div class="flex flex-cols-4 gap-2 text-2xl text-gray-600"><i class="fa-solid fa-house"></i><i class="fa-solid fa-user"></i><i class="fa-solid fa-cheese"></i><i class="fa-solid fa-cloud"></i><i class="fa-solid fa-truck-fast"></i></div>
</div>
<br>
<hr>

<div class="text-left m-4">
  <span class="font-bold">ICONS</span> <br>
<div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div><div>Icons made by <a href="https://www.flaticon.com/authors/kemal-gokbas" title="kemal-gokbas">kemal-gokbas</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>  <div class="flex flex-cols-4 gap-2 text-2xl text-gray-600"><i class="fa-solid fa-house"></i><i class="fa-solid fa-user"></i><i class="fa-solid fa-cheese"></i><i class="fa-solid fa-cloud"></i><i class="fa-solid fa-truck-fast"></i></div>
</div>
<br>
<hr>


<div class="text-left m-4">
  <span class="font-bold">HOSTING BY</span> <br>
  <a href="https://www.heroku.com/" title="Heroku">Heroku Hosting from Salesforce</a>  <br>
 <%= image_tag("heroku_logo.png", :class=>"h-12 w-auto") %>
</div>

<hr>

<div class="text-left m-4">
  <span class="font-bold">DATABASE BY</span> <br>
   <a href="https://www.postgresql.org/" title="PostgreSQL">PostgreSQL: Op/Src Relational DB</a>  <br>
 <%= image_tag("postgresql_logo.png", :class=>"h-12 w-auto") %>
</div>

<hr>


<div class="text-left m-4">
  <span class="font-bold">APP DEVELOPMENT LANGUAGE</span> <br>
   <a href="https://rubyonrails.org" title="Ruby on Rails">Ruby on Rails</a>  <br>
 <%= image_tag("ror_logo.png", :class=>"h-12 w-auto") %>
</div>

<hr>


</div>