<% content_for(:page_title, "DAIRY")%>
<br>
<ul class="text-center">
  <li class="py-2">
    <%= link_to "Create Make Sheet", new_makesheet_path, class:link_class %>
  </li>
   <li class="py-2">
    <%= link_to "View All", makesheets_path, class:link_class  %>
  </li>
</ul>
