<% content_for(:page_title, "DAIRY")%>

<div class="my-4 mt-8 w-2/3 mx-auto">

<div class="mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 place-content-center">
  
  <a href="/makesheets/new" class="text-center bg-gray-800 py-6 mx-10 rounded-lg border border-gray-800 shadow-lg">
    <span class="text-lg md:text-2xl font-bold text-white tracking-wide">New Make</span>
  </a>

  <a href="/turns/new" class="text-center bg-gray-800 py-6 mx-10 rounded-lg border border-gray-800 shadow-lg">
    <span class="text-lg md:text-2xl font-bold text-white tracking-wide">New Turn </span>
  </a>

  <a href="/makesheets/monthly_summary" class="text-center bg-gray-800 py-6 mx-10 rounded-lg border border-gray-800 shadow-lg">
    <span class="text-lg md:text-2xl font-bold text-white tracking-wide">Monthly Summary </span>
  </a>

  <a href="/makesheets" class="text-center bg-gray-800 py-6 mx-10 rounded-lg border border-gray-800 shadow-lg">
    <span class="text-lg md:text-2xl font-bold text-white tracking-wide">Makesheets </span>
  </a>

  <a href="/turns" class="text-center bg-gray-800 py-6 mx-10 rounded-lg border border-gray-800 shadow-lg">
    <span class="text-lg md:text-2xl font-bold text-white tracking-wide">Turns </span>
  </a>
   

  <a href="/makesheets/graded_blackboard" class="text-center bg-gray-800 py-6 mx-10 rounded-lg border border-gray-800 shadow-lg">
    <span class="text-lg md:text-2xl font-bold text-white tracking-wide">Graded Blackboard </span>
  </a>

   <a href="/breakages" class="text-center bg-gray-800 py-6 mx-10 rounded-lg border border-gray-800 shadow-lg">
    <span class="text-lg md:text-2xl font-bold text-white tracking-wide">Breakages </span>
  </a>
   

  <a href="/makesheets/graded_blackboard" class="text-center bg-gray-800 py-6 mx-10 rounded-lg border border-gray-800 shadow-lg">
    <span class="text-lg md:text-2xl font-bold text-white tracking-wide">TBD </span>
  </a>
  
  </div>
