<% content_for(:page_title, " Welcome")%>

<div class="mx-auto md:w-1/3 w-full flex justify-center">

  <div class="mt-10 ml-12">
    <%= image_tag 'poacher_logo.jpeg', :align=>"center",:class => "h-80 md:h-100 lg:h-120 w-auto" %>
  </div>

</div>

