<% content_for(:page_title, " ")%>

<div class="mx-auto w-full flex justify-center ">

  <div class="mt-10 fixed">
    <%= image_tag 'poacher_logo.jpeg', :align=>"center",:class => "h-80 md:h-100 lg:h-120 w-auto" %>
  </div>

</div>

