<% content_for(:page_title, "WASH") %>

<div class="max-w-5xl mx-auto px-4 mt-8">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 text-center">

    <%= link_to "Wash List", "/washes", class: "#{nav_box_class} mx-auto" %>

  </div>  
</div>

  
 