<% content_for(:page_title, "WASH")%>

<div class="my-4 text-center text-green-800 mt-8">
<br>
<div class="flex flex-row">
  <div class="basis-1/2">
    <div class="text-center text-lg">
       WASH LIST<br>
        <div class="mt-4">
         <%= link_to "New wash", new_wash_path, class: clear_button_class %>
        </div>
       </div>
  </div>
  
  <div class="basis-1/2">
    <div class="text-center text-lg">
      X
   
     </div>
  </div>
  </div>


