<% content_for(:page_title, "NEW CUSTOMER")%>
<% content_for :title, "Poacher: Customer New" %>
<div class="mx-auto md:w-1/3 w-full mt-4">
  
  <%= render "form", contact: @contact %>

  <%= link_to "Back to contacts", contacts_path, class: clear_button_class %>
</div>
