<div class="mx-auto md:w-2/3 w-full">
<% content_for(:page_title, "CONTACT: #{@contact.business_name}")%>
  <div class="mx-auto">
   

    <%= render @contact %>
<br>
    <%= link_to "Edit this contact", edit_contact_path(@contact), class: fill_button_class %>
    <br><br>
    <%= link_to "All Contacts", contacts_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Delete this Contact",
                  @contact,
                  method: :delete,
                  form: { data: { turbo_confirm: "Are you sure?" } },
                  class: gray_button %>
    </div>
  </div>
</div>
