<div class="mx-auto md:w-1/3 w-full text-right">
<% content_for(:page_title, "EDIT MILK QUALITY MONITOR RECORDS")%>
 
  <%= render "form", milk_quality_monitor: @milk_quality_monitor %>
  <br>
  <%= link_to "Back to Main Page", milk_quality_monitors_path, class: gray_button %>
</div>
