<div class="mx-auto md:w-2/3 w-full flex text-right">
  <div class="mx-auto">
   <br>

    <%= render @chiller %>

    <%= link_to "Edit this chiller", edit_chiller_path(@chiller), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to chillers", chillers_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this chiller", @chiller, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>
