
<div class="grid pl-10 max-w-lg">
  <div class="p-2 text-left">
    <strong>Make date:</strong>
    <%= makesheet.make_date.to_formatted_s(:uk_time)%>
  </div>
  
  <div class="p-2 text-left ">
    <strong>Grade:</strong>
    <%= makesheet.grade %>
  </div>
  
  <div class="p-2  text-left">
    <strong>Number of cheeses:</strong>
    <%= makesheet.number_of_cheeses %>
  </div>


   <div class="p-2  text-left">
    <strong>Weight type:</strong>
    <%= makesheet.weight_type %>
  </div>
</div>




