<% content_for(:page_title, "DAIRY : EDIT MAKE SHEET for #{@makesheet.make_date.to_formatted_s(:uk_clean_date)}")%>
<div class="mx-auto w-full md:w-2/3  justify-center">

<div>
  <%= render "form", makesheet: @makesheet %>
</div>
 
<div>
