<% content_for(:page_title, "STORE : Graded Blackboard")%>

<div class="mx-auto w-full place-content-center p-4 border border-gray-200 rounded rounded-lg text-sm">
  
    <div class="grid grid-cols-7 gap-2">
     
      <% @makesheets_by_grade.each do |grade, makesheets| %>

       <div>
          <p class="text-right text-xl font-bold pt-2 pb-2">
              <%= grade %>
          </p>

            <% makesheets.each do |makesheet| %>
              <p class="p-2 text-right">
                  <%= link_to makesheet.make_date.to_formatted_s(:uk_clean_date), edit_makesheet_path(makesheet) %>
              </p>
            <% end %>

        </div>
      <% end %>
    </div>
</div>
