<% content_for(:title, "Poacher : Graded Blackboard")%>
<% content_for(:page_title, "GRADED BLACKBOARD")%>

<div class="mx-auto w-full place-content-center bg-white p-4 border border-gray-200 rounded rounded-lg text-sm">
  
   <div class="grid grid-cols-2 sm:grid-cols-4 md:grid-cols-5 lg:grid-cols-7 gap-2 ">
     
      <% @makesheets_by_grade.each do |grade, makesheets| %>

       <div>
          <p class="text-center text-black text-xl font-bold pb-2">
              <%= grade %>
          </p>

            <% makesheets.each do |makesheet| %>
              <p class="py-1 text-center text-black">
                  <%= link_to makesheet.make_date.to_formatted_s(:uk_clean_date), edit_makesheet_path(makesheet) %>
              </p>
            <% end %>

        </div>
      <% end %>
    </div>
</div>
