<div class="overscroll-none">
<% content_for :title, "Poacher: Makesheets" %>
<% content_for(:page_title, "MAKESHEETS")%>
<% content_for(:page_button, "makesheets/new")%>   

<div id="makesheets">
   <br>
 
   <%= render "makesheet_table", makesheets: @makesheets %>
</div>
</div>




