<% content_for(:page_title, "Reference Data")%>

<div class="mx-auto w-1/3 text-center">

  <%= render "form", reference: @reference %>

  <%= link_to "Show this reference", @reference, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
