<% content_for(:page_title, "Reference Data")%>

<div class="mx-auto md:w-1/2 w-full flex">
  <div class="mx-auto">
  
    <%= render @reference %>

    <%= link_to "Edit this reference", edit_reference_path(@reference), class: fill_button_class %>
    <%= link_to "Back to references", references_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
   
  </div>
</div>
