<%= render 'shared/store_nav' %>

<div id="form_area">
  <%= render partial: "location_assignments/form", locals: { location_id: params[:location_id], makesheet_id: params[:makesheet_id] } %>
</div>



