<div class="mx-auto md:w-1/3 w-full text-right">
<% content_for(:page_title, "EDIT CHEESE BATCH WEIGHTS")%>
 
  <%= render "form", batch_weight: @batch_weight %>
  <br>
  <%= link_to "Back to Main Page", batch_weights_path, class: gray_button %>
</div>
