<div class="overscroll-none">
  <% content_for :title, "Poacher: Cheese Batch Weights" %>
  <% content_for(:page_title, "CHEESE BATCH WEIGHTS")%>
  <% content_for(:print_button, "browser-print")%>
  <% content_for(:page_button, new_batch_weight_path)%> 
  <br> 

  <div class="flex flex-col h-screen pr-2">
    <div class="flex-grow overscroll-none">
      <table class="mx-auto table-fixed relative w-full 2xllg:w-2/3 border text-sm text-center text-gray-500">
        <thead class="text-xs text-gray-800 bg-gray-200">
          <tr class="bg-gray-200 sticky top-0 border border-gray-400">
            <th scope="col" class="sticky top-0 px-4 py-2 border border-gray-400 text-center truncate max-w-[8rem] whitespace-nowrap overflow-hidden text-ellipsis">
              <span title="Date">Recorded Date</span>
            </th>
            <th scope="col" class="sticky top-0 px-4 py-2 border border-gray-400 text-center truncate max-w-[10rem] whitespace-nowrap overflow-hidden text-ellipsis">
              <span title="Production Date/Batch"> Make/Batch</span>
            </th>
             <th scope="col" class="sticky top-0 px-4 py-2 border border-gray-400 text-center truncate max-w-[6rem] whitespace-nowrap overflow-hidden text-ellipsis">
              <span title="Grade">Grade</span>
            </th>
            <th scope="col" class="sticky top-0 px-4 py-2 border border-gray-400 text-center truncate max-w-[9rem] whitespace-nowrap overflow-hidden text-ellipsis">
              <span title="Number in Batch">Number in Batch</span>
            </th>
             <th scope="col" class="sticky top-0 px-4 py-2 border border-gray-400 text-center truncate max-w-[12rem] whitespace-nowrap overflow-hidden text-ellipsis">
              <span title="Recorded Weight at Make">Recorded Weight at Make</span>
            </th>
            <th scope="col" class="sticky top-0 px-4 py-2 border border-gray-400 text-center truncate max-w-[10rem] whitespace-nowrap overflow-hidden text-ellipsis">
              <span title="Washed Batch Weight">Washed Batch Weight</span>
            </th>
             <th scope="col" class="sticky top-0 px-4 py-2 border border-gray-400 text-center truncate max-w-[10rem] whitespace-nowrap overflow-hidden text-ellipsis">
              <span title="Total Waste">Total Waste</span>
            </th>
            <th scope="col" class="sticky top-0 px-4 py-2 border border-gray-400 text-center truncate max-w-[10rem] whitespace-nowrap overflow-hidden text-ellipsis">
              <span title="Total Waste">Waste %</span>
            </th>
          
            <th scope="col" class="sticky top-0 px-4 py-2 border border-gray-400 text-center truncate max-w-[8rem] whitespace-nowrap overflow-hidden text-ellipsis">
              <span title="Comments">Comments</span>
            </th>
          </tr>
        </thead>
        <tbody class="overflow-contain">
          <%= render @batch_weights %>
        </tbody>
      </table>
    </div> 
    <br><br>
  </div>
</div>
