<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New palletised distribution</h1>

  <%= render "form", palletised_distribution: @palletised_distribution %>

  <%= link_to "Back to palletised distributions", palletised_distributions_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
