<% content_for(:page_title, "LOCATION DATA")%>
<div class="mx-auto md:w-1/3 w-full flex">
  <div class="mx-auto mt-8">

    <%= render @location %>

    <%= link_to "Edit this Location", edit_location_path(@location), class: fill_button_class %>
    <%= link_to "<< Back to Locations", locations_path, class: clear_button_class%>
    <div class="inline-block ml-2">
    </div>
  </div>
</div>
