 <header class="sticky inset-x-0 top-0 z-50 border border-gray-100 bg-gray-800 text-gray-100">
   
    <div class="mx-auto max-w-screen-xl px-4 relative flex h-10 items-center justify-between gap-4 sm:gap-8">
      <div class="flex items-center gap-4">
       
       <a href="/pages/home">
          <div class="inline-flex gap-1.5 text-sm">
            <span class="font-medium text-gray-100">Lincolnshire Poacher</span>
            <span aria-hidden="true" role="img">🧀</span>
          </div>
        </a>
   
     

 <% if user_signed_in? %> 
   
  </div>

   <div class="flex flex-1 items-center justify-end gap-2 sm:gap-4">
      <div class="flex items-center md:hidden"><button class="text-gray-100"><svg xmlns="http://www.w3.org/2000/svg" class="size-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path></svg>
      <span class="sr-only">Toggle menu</span></button>
    </div>

 
     <br>
      <section>
          <%= render "layouts/title_bar" %>
           </section>
     </header>