<a href="/pages/dairy_home" class="hover:opacity-90">Dairy</a>
<a href="/pages/store_home" class="hover:opacity-90">Store</a>
<a href="/pages/wash_home" class="hover:opacity-90">Wash</a>
<a href="/pages/cutting_home" class="hover:opacity-90">Cutting</a>
<a href="/pages/office_home" class="hover:opacity-90">Office</a>
<a href="/pages/mgmt_home" class="hover:opacity-90">Mgmt</a>
