<a href="/pages/home" aria-label="Home" class="hover:opacity-90 block p-4">
  <i class="fa-solid fa-house text-gray-100 text-4xl"></i>
</a>

<%= render "layouts/main_nav" %> <!-- reuse if desired -->

<a href="<%= edit_user_registration_path %>" aria-label="Edit Profile" class="hover:opacity-90 block p-4">
  <i class="fa-solid fa-user text-gray-100 text-4xl"></i>
</a>

<a href="<%= destroy_user_session_path %>" aria-label="Log Out" data-turbo-method="delete" class="hover:opacity-90 block p-4">
  <i class="fa-solid fa-arrow-right-from-bracket text-gray-100 text-4xl"></i>
</a>