<% if content_for(:page_title)%>
  
  <div class="grid grid-cols-3 bg-green-800 text-lg font-strong text-white rounded-lg mt-2 mx-4">
    <div class="">
    </div>
    
    <div class="text-center content-center ">
       <%= yield(:page_title)%>
    </div>
    
    <div class="mr-8 pb-1">
    <% if content_for(:page_button)%>
       <div class="text-right content-center "> <%= link_to "Add New", yield(:page_button), class:header_bar_button_class %> </div>
    <% end %>
    </div>
  </div>
<% end %>


