<% if content_for(:page_title)%>
  <div class="max-w-screen-4xl h-9">
    <div class="fixed top-10 z-50 w-full flex justify-between bg-gray-200 pl-4 font-strong text-gray-800 shadow-md">
      
        <div class="text-left text-xl py-1">
          <%= yield(:page_title)%>
        </div>
        
        <div class="inline mr-8 mt-1">
          <% if content_for(:page_button)%>
            <div class="text-right content-center"> 
              <%= link_to " Add New ", yield(:page_button), class:header_bar_button_class %> 
            </div>
          <% end %>

          <% if content_for(:print_button)=="browser-print"%>
            <div class="text-right content-center"> 
              <%= link_to "Print", '#', class: header_bar_button_class, 
                  onclick: 'window.print();return false;' %>
            </div>
          <% elsif content_for(:print_button)%>
            <div class="text-right content-center"> 
              <%= link_to "Print ", yield(:print_button), class:header_bar_button_class %> 
            </div>
          <% end %>
        </div>
    </div>
  </div>
<% end %>


